<body>
<main class="container">
  <div class="row justify-content-center">
    <section class="col-6 mt-5">
      <a href="/" ><img class="mb-4 justify-content-center" src='logo.svg' alt="MEMWA" width="72" height="57"></a>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
     
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1" placeholder="name@example.com"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"           
            id="exampleInputPassword1" placeholder="Password"
            name="password"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
  </div>
</main>
</body>

