* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(181, 200, 255, 0.15);
    font-family: "Edu TAS Beginner", sans-serif;
}

.search {
    align-items:center ;
    justify-content: center;
}

.header, .question-container {
    color: #3563E9;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    width: 90%;
}
.question-header{
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    padding: 10px;
    font-size: 2rem;
}

input{
    font-family: "Edu TAS Beginner", sans-serif;
    margin-bottom: 2px;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    width: 100%;
}

textarea{
    font-family: "Edu TAS Beginner", sans-serif;
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.question-header button, .home{
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #3563E9;
    font-family: "Edu TAS Beginner", sans-serif;
}

ul {
    list-style: none;
}

.question-list-item {
    padding: 2px;
    margin-top: 2px;
    border: none;
    border-radius: 5px;
    /* background: rgba(0, 0, 0, 0.3); */
    display: flex;
    align-items: center; /* Added for aligning elements horizontally */
}

.question-list-item-content {
    font-size: 0.8rem;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    flex-grow: 1; /* Added to make the content take remaining space */
}

.question-list-item form {
    flex-grow: 1; /* Added to make the form take remaining space */
}

.question-list-item input {
    margin-right: 20px;
    border-radius: 5px;
    flex-grow: 1; /* Added to make the input take remaining space */
}

.question-list-item .confirm,
.question-list-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    background-color: limegreen;
    margin-left: 10px;
    max-height: 30px;
    font-family: "Edu TAS Beginner", sans-serif;
}

.question-list-item .cancel {
    background-color: red;
}



.question-list-item .edit {
    color: #3563E9;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    margin-left: auto;
}

.question-list-item .remove {
    color: red;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
}